.section{
  background-color: lightblue;
}
.section1{
  text-align: center;
}
.section1 > p{
  font-size: 25px;
  float: center;
  padding:40px;
}
.section1 > h1{
  font-size: 75px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.links > a{
  font-size: 30px;
  padding-left: 10px;
}

body {
    
    }
@media screen and (max-width : 720px) {
  .links > a{
    font-size: 23px;
  }
  .links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;
    flex-wrap:wrap;
  }
  .section1 > p{
    font-size: 17px;
    border: 2px solid black;
  }
  .section1 > h1{
    font-size: 25px;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
  body {
          background-color: lightblue;
    }
}
