body {
    background-color: #DBF9FC;
}
.links{
  padding-left: 170px;
}
.links > a{
  font-size: 30px;
  padding-left: 10px;
}
img{
  width: 400px;
  height: 290px;;
}
.photogallery{
  width: 80%;
  margin: 100px auto 50px;
  display:grid;
  grid-template-columns: repeat(3,minmax(250px,1fr));
  grid-gap: 15px;
}
h1{
  text-align: center;
  background-color: aqua;
  font-size: 60px;
}
.photogallery img{
  width: 100%;
}
.box{
  display:flex;
  padding-left: 170px;
  background-color: aqua;
  font-size: 25px;
}

.symptom > h3,p{
  padding-left: 170px;
}
.symptom > h3{
  font-size: 27px;
}
.symptom > p{
  font-size: 19px;
}
#copy{
  padding-right: 170px;
}
@media screen and (max-width: 720px) {

  .links{
    padding-left: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;
    flex-wrap:wrap;
  }
  img{
    width: 250px;
    height: 200px;;
  }
  .photogallery img{
    width: 100%;
  }
  .photogallery{
    width: 80%;
    margin: 100px auto 50px;
    display:grid;
    grid-template-columns: repeat(2,minmax(150px,1fr));
    grid-gap: 5px;
  }
  .box{
    background-color: aqua;
    padding-left: 0px;
  }
  .symptom > h3,p{
    padding-left: 0px;
  }
      }
  /*Done by Benson, set css selectors, and image gallery*/